@include component(bt-menu-mobile) {
    z-index: $layer5;
    display: none;
    width: 42px;
    height: 31px;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
    @include part(line) {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        height: 3px;
        margin-top: -1px;
        margin-left: -8px;
        background-color: #fff;
        transition:.3s $easeDefault;
        @include option(top) {
            margin-top: -6px;
        }
        @include option(bottom) {
            margin-top: 4px;
        }
    }
    @include breakpoint($ipad){
        display: block;
    }
}
