@include component(menu-mobile) {
    width: 260px;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: $layer5;
    overflow: auto;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(#000, .95);
    transform: translateX(-100%);
    transition: .5s $easeDefault;
    @include part(link) {
        display: block;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
        padding: 0 20px;
        text-transform: uppercase;
        transition: .3s $easeDefault;
        border-bottom: 1px solid #000;
        &:active {
            background-color: #000;
        }
    }
    @include part(title) {
        display: block;
        padding: 0 20px 0 40px;
        margin-bottom: 1px;
        line-height: 40px;
        font-family: 'Brandon Printed One';
        font-size: 16px;
        text-transform: uppercase;
        background-color: red;
    }
    @include part(btn-close) {
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 40px;
        display: block;
        &:before,&:after{
            content: '';
            display: block;
            width: 16px;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            background-color: #fff;
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
    }
    @include option(open) {
        transform: translateX(0);
    }
    @include breakpoint($ipad){
       display: block;
    }
}