@include component(social-media) {
    text-align: center;
    @include part(link) {
        font-size: 26px;
        margin: 0 8px;
        text-align: center;
        color: $dark-slate-blue;
    } // @include breakpoint($mobile-s) {
    //     @include part(link) {
    //         width: 36px;
    //         height: 36px;
    //         font-size: 15px;
    //         line-height: 34px;
    //         margin: 0 2px;
    //     }
    // }
    // @include breakpoint($ipad) {
    //     @include part(link) {
    //         width: 36px;
    //         height: 36px;
    //         font-size: 16px;
    //         line-height: 34px;
    //         margin: 0 3px;
    //     }
    // }
}