@include component(title) {
    font-family: 'Brandon Printed One';
    font-size: 50px;
    line-height: 0.82;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    @include part(icon) {
        display: block;
        margin: 0 auto px-to-em(18, 50);
    }
    @include breakpoint($ipad-s) {
        font-size: 40px;
    }
}